%section#notice
 = notice

%header
 %h1
  = link_to @wiki.name, edit_wiki_path(@wiki), :remote => true
  %span#edit-link
   = #link_to 'edit', edit_wiki_path(@wiki), :remote => true

= render 'content'

%section#edit-content.rounded
 = render 'edit_content'